body{
	background-color : rgb(142,162,198);
}


#sections{
	display :flex;
	flex-direction : row;
	flex-wrap : wrap;
}


section{
	width : 45%;
	height : 60%;
	margin : 10px;
	display :flex;
	flex-direction: column;
	min-width : 800px;
}

footer{
	display:flex;
	justify-content : center;
}

#controls{
	align-items : flex-start;
}

#general_controls{
	display : flex;
	border-style : solid;
	align-items : center;
}
#sync_controls{
	display : flex;

	justify-content : center;
	align-items : center;
	font-size : 20px;
}
#preview_controls{
	align-items : flex-start;
	width : 100%;
	
}



video{
	width : 100%;
	height : 100%;
}

button{
	height: 45px;
	width: 45px;
	padding: 0;
	margin: 5px;
	border-style : none;
	background : transparent;
	font-size : 15px;
	font-weight : Bold;
	
}

#sync_controls button{
	height: 60px;
	width: 80px;
	padding: 0;
	margin: 5px;
	border-style : solid;
	border-color : black;
	background-color : rgb(136,140,180);
}

footer button{
	height: 60px;
	width: 80px;
	padding: 0;
	margin: 5px;
	border-style : solid;
	border-color : black;
	background-color : rgb(136,140,180);
	
}

#play{
	background-image : url("play.png");
	background-size: 100% 100%;
	
}

#pause{
	background-image : url("pause.png");
	background-size: 100% 100%;

}

#stop{
	background-image : url("stop.png");
	background-size: 100% 100%;
}

#next{
	background-image : url("next.png");
	background-size: 100% 100%;
	
}

#previous{
	background-image : url("previous.png");
	background-size: 100% 100%;
	
}


#slidebar_T{
	flex :1;
	margin : 8px;
}
#slidebar_GP{
	flex :1;
	margin : 8px;
}

