<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf8">
	<title>VideoPlayer</title>
	<script type="text/javascript" src="controls.js"></script>
	<link rel="stylesheet" href="display.css">
</head>

<body>

<header>
	<h1>Preview</h1>
</header>

<div id="sections">
<section>
	<video id="videoT">
		<source src="0006_Bouteille_de_lait.mp4" type="video/mp4">
	</video>
</section>

<script type="text/javascript">
	var videoT = document.getElementById("videoT");
	//updates the current frame counter
	videoT.ontimeupdate = function(){
			document.getElementById("current_frame_T").innerHTML = Math.round(videoT.currentTime/frameTimeT);
			document.getElementById("slidebar_T").value = Math.round(videoT.currentTime/videoT.duration*100);
	};
	
</script>

<section><!--  GoPro -->
	<video id="videoGP">
		<source src="3D_L0006_Bouteille_de_lait.mp4" type="video/mp4">
	</video>
	
	
	
	
</section>

<div id="preview_controls">
	<div id="general_controls">
		<button id="play" onclick="preview_play();;"></button>
		<button id="pause" onclick="pause(1);pause(2);"></button>
		<button id="stop" onclick="preview_stop();"></button>
		<button id="previous" onclick="previous_frame(1);previous_frame(2);"></button>
		<button id="next" onclick="next_frame(1);next_frame(2);"></button>
		
		Frame : <span id="current_frame_T">0</span>
		<input id="slidebar_T" type="range" min="0" max="100" value="0" onchange="update_frame(1)">
	</div>
</div>

</div>

<footer>
	<button id="save" onclick="save();">Save</button>
	<button id="cancel" onclick="location.href = 'player.html';">Cancel</button>
</footer>


</body>
</html>