<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf8">
	<title>HomePage</title>
	<script type="text/javascript" src="../public/javascript/controls.js"></script>
	<script type="text/javascript" src="../public/javascript/upload.js"></script>
	<link rel="stylesheet" href="../public/css/display.css">
</head>

<body>
<header>
<h1>Synchro In The Wild</h1>
</header>

<section><!-- upload videos -->
<div id="upload">
<!--	<button id="upload_T" onclick="r-upload();">Upload</button>-->
	<input id="r-upload-input" type="file" name="uploads[]" multiple="multiple">
</div>

<div id="upload">
	<button id="upload_GP_left" onclick="">Upload</button>
</div>

<div id="upload">
	<button id="upload_GP_right" onclick="">Upload</button>
</div>

</section>
<footer>
<button id="next_page" onclick="location.href='player.html';">Next</button>
</footer>

</body>
</html>
